/.git/
/.idea/

/public/bundles/
/var/
/vendor/

###> phpunit/phpunit ###
.phpunit.result.cache
/phpunit.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
